    html body{
      background-color: #FCF9F9;
    }
    .text-in-box{
    color: #fff;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    left: 35%;
    top: 20%;
    position: absolute;
    padding: 20px;
    transform: translate(-50,-50);
  }

  .other-text{
    color: #fff;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: -30px;
  }

  .image-size{
      height: 30px;
      width: 10px;
  }

  .home-container{
    padding-top: -100px;
    display: flex;
    position: absolute;
    top: 800px;
    font-family:  'Raleway', serif;
    animation: slide_up 1.8s ease-in;
    color: black;
    letter-spacing: 1px;
  }

  .home-img{
    padding: 30px;
    width:  500px;
    object-fit: contain;
    align-self: flex-start;
  }

  .home-text{
    flex: 1 1 auto;
  }

  @keyframes slide_up{
      0%{
          transform: translateY(250px);
      }
      100%{
          transform: translateY(0);
      }
  }

  .scrolled{
      position: fixed;
      background-color: #fff;
  }

  .nav{
      width: 100%;
      transition: 0.25s;
      list-style: none;
  }

li{
    list-style: none;
}

a{
    list-style: none;
}

.navbar-brand{
  display: flex;
  padding: 10px;
  color: wheat;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 35px;
}

.nav-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-link li{
    list-style-type: none;
}

.nav-link a {
  color: black;
  text-decoration: none;
  letter-spacing: 4px;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  padding: 5px;
}

.nav-link a:hover{
  color: wheat;
}

.tech-slideshow {
  height: 200px;
  width: 1200px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  padding: -10px;
}

.tech-slideshow > div {
  height: 200px;
  width: 2526px;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/collage.jpg);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transform: translate3d(0, 0, 0);
}
.tech-slideshow .mover-1 {
  animation: moveSlideshow 12s linear infinite;
}
.tech-slideshow .mover-2 {
  opacity: 0;
  transition: opacity 0.5s ease-out;
  background-position: 0 -200px;
  animation: moveSlideshow 15s linear infinite;
}
.tech-slideshow:hover .mover-2 {
  opacity: 1;
}

@keyframes moveSlideshow {
  100% { 
    transform: translateX(-66.6666%);  
  }
}

.testimonials {
	margin-top: 5px;
	margin-bottom: 5px;
	position: relative;
	display: block;
	width: 100%;
	min-height: 250px;
}

.testimonials ul {
	list-style: none;
	padding: 0;
}

.testimonials li {
	display: inline-block;
	background-color: white;
	margin: 50px 10px 10px 10px;
	width: calc((100% - 55px) / 2);
	height: 200px;
	border: solid 1px #bdbdbd;
	position: relative;
	transition: ease-in-out .3s;
}

.testimonials li img {
	height: 70px;
	width: 70px;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	border-radius: 50%;
	box-shadow: 0px 0px 0px 15px #fff;
	background-color: #fff;
	transition: box-shadow 0.3s linear;
}

.testimonials li p {
	position: absolute;
	width: 70%;
	text-align: center;
	top: 50px;
	left: 50%;
	transform: translatex(-50%);
	font-size: 15px;
}

.testimonials li h1 {
	position: absolute;
	text-decoration: bold;
	bottom: 10px;
	left: 50%;
	transform: translatex(-50%);
	font-size: 17px;
}

.testimonials li:hover {
	background-color: #212121;
	color: #fff;
}

.testimonials li:hover img {
	box-shadow: 0px 0px 0px 2px #fff;
}

.test{
  font-family: 'Times New Roman', Times, serif;
}

.footer{
  margin-bottom: 10rem;
}


.footer-getintouch{
  margin: 0;
  padding: 0;
  color: #153638;
  margin-left: 7rem;
}
.footer-author{
  width: calc(100% + 5rem);
  bottom: -3rem;
  z-index: 20;
  color: black;
  position: relative;
  left: -5rem;
}

.footer-author-details{
  background: #fff;
  padding: 6rem 3rem;
  padding-left: 7rem;
  padding-top: 1rem;
}
.footer-author-details a{
  color: black;
}

.footer-signoff{
  position: absolute;
  right: 3rem;
  bottom: 1rem;
}
